
# Documentation/Utility Files
HELP.md

# OS and Editor Files
# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Node modules
node_modules/

# Logs and Temp files
*.log
/logs/
*.tmp
*.swp
*.cache

# Java/Maven Build Artifacts
/target/
/out/
build/
*.class
*.jar
*.war
*.zip
*.tar.gz
.mvn/wrapper/maven-wrapper.jar

# IDEA/STS/NetBeans Project Settings
.idea
*.iml
*.ipr
*.iws
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/