:root{
    --light-grey: #ebe6e6;
    --light-blue: #ADD8E6;
}

h1{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: var(--light-blue);
}

.container{
    background-color: var(--light-grey);
    max-width: 800px;
    width: 90%;
}

h1,.container{
    margin: 20px auto;
}

button {
  background-color: rgb(44, 44, 155);
  border: 2px solid #5d92b8;
  color: white;
  padding: 4px 10px;
  border-radius: 2px;
  cursor: pointer;
}

.form-actions button, #entry-button {
  display: block;
  margin: 10px 0;
}

.newEntry{
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

#fs-remaining h2{
    color: green;
}

#fs-excess h2{
    color: red;
}

#output{
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

#profile-picture{
    width: 62px;
    height: 60px;

    border-radius: 100%;

    transition: box-shadow 0.3s ease-in-out; /* makes the shadow effect smooth*/
    
}

#profile-picture:hover{
   /* 
     * offset-x, offset-y, blur-radius, spread-radius, color 
     */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    
    /* scale the image up slightly to emphasize the click area */
    transform: scale(1.05);
    
}

#simulate-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 4px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.dailyResults{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.modal-content {
    background-color: white;
    padding: 25px 40px;
    border-radius: 10px;
    max-width: 450px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dailyResults.show-modal{
    display: flex;
}

.punishmentList{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.punishmentList.show-modal{
    display: flex;
}

.loseCase{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.loseCase.show-modal{
    display: flex;
}